<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
<title>Cadastro de Cliente</title>
<meta charset="utf-8">
</head>

<link href="../../static/css/style.css" rel="stylesheet">
<!-- importação do bootstrap min.css -->
<link href="../../vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">



<body>


	<!-- Teste top page  -->


	<!-- Navigation 
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		style="height: 90px;">
		<div class="container">
			<a class="navbar-brand" href="/index">-=TresDev=-</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Carrinho</a>
					</li>

					<li class="nav-item"><a class="nav-link" href="#">Contato</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Pesquisar" aria-label="Pesquisar">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
				</form>
			</div>
		</div>
	</nav>
-->

	<div th:replace="layout :: navlinks"></div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<!-- Teste top page  -->


	<div class="container_cad" id="cadastro">
		<form action="/cliente/salvar" enctype="multipart/form-data"
			th:object="${cliente}" method="POST">
			<div class="nother">
				<div class="form-group col-md-6">
					<label for="nome">Nome</label> <input type="text"
						class="form-control" id="nome" placeholder="Nome Completo"
						autofocus="autofocus" th:field="*{nome}" value="" required
						minlength="5" />
					<div class="invalid-feedback"></div>
				</div>
			</div>
			<div th:text="${mensagem}" th:if="${mensagem != null}"></div>


			<div class="form-">
				<div class="form-group col-md-6">
					<label for="email">Email</label> <input type="text"
						class="form-control" id="email" placeholder="email"
						autofocus="autofocus" th:field="*{email}" name="email" value=""
						required />
					<div class="invalid-feedback"></div>
				</div>
			</div>



			<div class="">
				<div class="form-group col-md-3">
					<label for="senha">Senha</label> <input type="password"
						class="form-control" id="senha" placeholder="senha"
						autofocus="autofocus" th:field="*{senha}" name="senha" value=""
						required minlength="3" />
					<div class="invalid-feedback"></div>
				</div>
			</div>


			<div class="">
				<div class="form-group col-md-4">
					<label for="nome">CPF</label> <input type="text"
						class="form-control" id="nome" placeholder="CPF"
						autofocus="autofocus" th:field="*{cpf}" value="" required
						minlength="11" maxlength="11" />
					<div class="invalid-feedback"></div>
				</div>
			</div>
			
			
			<div class="form-">
				<div class="form-group col-md-6">
					<label for="endereco">Endereço</label> <input type="text"
						class="form-control" id="endereço" placeholder="Ex: Rua caxingui"
						autofocus="autofocus" th:field="*{endereco}" name="endereco" value=""
						required />
					<div class="invalid-feedback"></div>
				</div>
			</div>



			<input type="hidden" id="id" name="id" th:field="*{id}" value="" />
			<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
		</form>
	</div>



</body>

</html>
