<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{cliente/layoutCli}">
<head>
<title>Editar CLiente</title>
<meta charset="utf-8">
</head>


<body>

	<section class="layout-content" layout:fragment="corpo">
		<section class="layout-content">
			<br> <br>
			<div class="page-header">
				<nav class="navbar navbar-expand-md navbar-top bg-light">
					<div class="collapse navbar-collapse" id="navbarsExampleDefault">
						<ul class="navbar-nav">
							<li class="nav-item active"><i class="oi oi-caret-right"></i>
								<span>Editar</span></li>
						</ul>
					</div>
				</nav>
			</div>


			<div class="container" id="cadastro">
				<form action="/cliente/salvar" enctype="multipart/form-data"
					th:object="${cliente}" method="POST">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="nome">Nome</label> <input type="text"
								class="form-control" id="nome" placeholder="Nome Cliente"
								autofocus="autofocus" th:field="*{nome}" value="" required
								minlength="5" />
							<div class="invalid-feedback"></div>
						</div>
					</div>

					<!-- Inicio  Email disable/Enable -->
					<div th:if="${id != null}">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="email">Email</label> <input type="text"
									class="form-control" id="email" placeholder="email"
									autofocus="autofocus" th:field="*{email}" name="email"
									disabled="" value="" required />
								<div class="invalid-feedback"></div>
							</div>
						</div>
					</div>

					<div th:if="${id == null}">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="email">Email</label> <input type="text"
									class="form-control" id="email" placeholder="email"
									autofocus="autofocus" th:field="*{email}" name="email" value=""
									required />
								<div class="invalid-feedback"></div>
							</div>
						</div>
					</div>
					<!-- Fim -->

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="cpf">CPF</label> <input type="text"
								class="form-control" id="cpf" placeholder="cpf"
								autofocus="autofocus" th:field="*{cpf}" disabled="" value=""
								required minlength="11" maxlength="11" />
							<div class="invalid-feedback"></div>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="senha">Senha</label> <input type="password"
								class="form-control" id="senha" placeholder="senha"
								autofocus="autofocus" name="senha" value="" required
								minlength="3" />
							<div class="invalid-feedback"></div>
						</div>
					</div>


					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="endereco">Cidade</label> <input type="text"
								class="form-control" id="cidade" placeholder="Ex: Rua caxingui"
								autofocus="autofocus" th:field="*{cidade}" name="cidade"
								value="" required />
							<div class="invalid-feedback"></div>
						</div>
					</div>


					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="endereco">logradouro</label> <input type="text"
								class="form-control" id="logradouro"
								placeholder="Ex: Rua caxingui" autofocus="autofocus"
								th:field="*{logradouro}" name="logradouro" value="" required />
							<div class="invalid-feedback"></div>
						</div>
					</div>


					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="endereco">Numero</label> <input type="text"
								class="form-control" id="numero" placeholder="Ex: 123"
								autofocus="autofocus" th:field="*{numero}" name="numero"
								value="" required />
							<div class="invalid-feedback"></div>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="endereco">Complemento</label> <input type="text"
								class="form-control" id="complemento" placeholder="Ex: 123"
								autofocus="autofocus" th:field="*{complemento}"
								name="complemento" value="" required />
							<div class="invalid-feedback"></div>
						</div>
					</div>


					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="endereco">Bairro</label> <input type="text"
								class="form-control" id="bairro" placeholder="Ex: Santo amaro"
								autofocus="autofocus" th:field="*{bairro}"
								name="bairro" value="" required />
							<div class="invalid-feedback"></div>
						</div>
					</div>




					<input type="hidden" id="id" name="id" th:field="*{id}" value="" />
					<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
				</form>
			</div>
		</section>
</body>
</html>
