<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{cliente/layoutCli}">

<title>Editar Cliente</title>
<meta charset="utf-8">

<head>

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
<title>Loja -=TresDev=-</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../../static/css/contato.css" media="screen" />


</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<div class="row m-5">
		<div class="col-7 mt-2 pt-5 ml-2 mr-1">
			<h4>Como você deseja receber ou retirar sua compra?</h4>
			</br>
			<h6>Endereço</h6>
						
			<div class="card">
			  <div class="card-body row">
			  
			  <div class="col-2  text-center">
			  	<br>
			  		<i class="fas fa-map-marked-alt map"></i>
			  </div>
			  <div class="col-6">
			  		<h6 class="p-0 m-0">Rua ummmmmmm.</h6>
			  		São paulo- sp - CEP 04836370.<br>
			  		Nailson nascimento ......<br>
			  </div>
			  <div class="col-4">
			  		<br>
			  		<a href="#"> Editar ou escolher outro</a>
			  </div>
			  
			    	
			    
			  </div>
			</div>
			<br><br>
			
			
		<h6>Receber compra</h6>
		<br>
		<div class="card">
		  <div class="card-body">
		    	
		    	<input type="radio"> Chegará amanhã
		    	
		  </div>
		</div>
		<br><br>
					
			
			
		<h6>Retirar Compra</h6>
		<br>
		<div class="card">
		  <div class="card-body">
		    	
		    	<input type="radio"> A partir de amanhã em uma loja fisica
		    	
		  </div>
		</div>
		<br>
		<button class="btn btn-primary mr-0" >Continuar</button>
		</div>
		
		<br>
	<div class="card col-4 mt-5 border-0">
	  <img class="card-img-top" src="../../image/transferir.svg" alt="Imagem de capa do card">
	  <div class="card-body">
	  
	  	<p class="card-text">Quantidade: 1</p>
	  	<hr>
	    <h5 class="card-title">Pc Cpu Intel Core I5</h5>
	    <p class="card-text">valor do produto - R$ 3000.00</p>
	    <p class="card-text">Valor do frete - R$50,00</p>
	    <hr>
	    <h5 class="card-title">Total - R$ 3050,00</h5>
	  </div>
	</div>
		
</div>
		
			
		
		
		
		</div>

	</section>

</body>

</html>
