<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{cliente/layoutCli}">

<title>Editar Cliente</title>
<meta charset="utf-8">

<head>

<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
<title>Loja -=TresDev=-</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../../static/css/contato.css" media="screen" />




</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<div class="row m-5">
			<div class="col-7 mt-2 pt-5 ml-2 mr-1">

				<h3>Como você prefere pagar?</h3>
				<br>

				
				<div class="card" style="width: 33rem;">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<i class="far fa-credit-card mr-5"></i>Novo cartão de crédito</li>
					</ul>
				</div>
				
				<br>
				<div class="card" style="width: 33rem;">
					<div class="card-body row">
						<div class="col-6 ">
						
						<input type="text" placeholder="Número do cartao" class="dadosCartao" required>
						<input type="text" placeholder="Nome Completo" class="dadosCartao" required>
						<input type="text" placeholder="CPF do titular do cartão" class="dadosCartao" required>
						
						<input type="text" placeholder="Data de Vencimento" class="dadosCartao" required>
						<input type="text" placeholder="Código de Segurança" class="dadosCartao" required>
						</div>
						<div class="col-6">
							<img class="card-img-top" src="../../image/images.jfif"
					alt="Imagem de capa do card">
						</div>
						
					</div>
				</div>
				<br>
				<a class="btn btn-primary ml-5"
							th:href="@{/loja/resumo/{id}(id=${pagamento})}" role="button">adicionar</a></li>
			</div>

			<br>

		</div>

	</section>

</body>

</html>
