<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{cliente/layoutCli}">

<title>Editar Cliente</title>
<meta charset="utf-8">

<head>

<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
<title>Loja -=TresDev=-</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


</head>
<body>

 


	<section class="layout-content" layout:fragment="corpo">

		<div class="row m-5">
			<div class="col-7 mt-2 pt-5 ml-2 mr-1">
				<h3>Resumo</h3><br>
				
				

		</div>





		</div>

	</section>

</body>

</html>
