
<!doctype html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../../../favicon.ico">

<title>Loja -=TresDev=-</title>

<!-- Principal CSS do Bootstrap -->
<link href="../../css/bootstrap.min.css" rel="stylesheet">

<!-- Estilos customizados para esse template -->
<link href="../css/login.css" rel="stylesheet">
<body class="text-center">
	<form class="form-signin" method="post" action="/efetuarLogin">
		<img class="mb-4" src="../image/user.png" alt="" width="80"
			height="80">
		<h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
		<div th:text="${mensagem}" th:if="${mensagem != null}"></div>
		<label for="inputEmail" class="sr-only">Endereço de email</label> <input
			type="email" name="email" id="email" class="form-control"
			placeholder="Seu email" required autofocus> <br> <label
			for="inputPassword" class="sr-only">Senha</label> <input
			type="password" name="senha" id="senha" class="form-control"
			placeholder="Senha" required>
		<div class="checkbox mb-3">
			<label> <input type="checkbox" value="remember-me">
				Lembrar de mim
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		<br>
		<p>Ou</p>
		<a class="nav-link" href="/cliente/cadastrar">Cadastre-se</a>
		<p class="mt-5 mb-3 text-muted">&copy; 2021</p>
	</form>

	


</body>
</html>
