<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Loja -=TresDev=-</title>

<!-- importação do bootstrap min.css -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- importação do css custom -->
<link href="css/shop-homepage.css" rel="stylesheet">
  <!-- importação do css custom -->
  <link href="../../css/estilosDetalhes.css" rel="stylesheet">
  
    <!-- importação do css custom -->
  <link href="../../css/shop-homepage.css" rel="stylesheet">
  
      <!-- importação do css custom -->
  <link href="../../css/owl.carousel.css" rel="stylesheet">
  
        <!-- importação do css custom -->
  <link href="../../css/responsive.css" rel="stylesheet">
  <link href="../../css/contato.css" rel="stylesheet">
  


</head>

<body>

	<!-- Navigation -->
	<div th:replace="layout :: navlinks"></div>
	
		<div class="container mt-5 mb-2">
		<div class="row">
		
		<div id="colunaEsquerda" class="col-6 ">
			<h2 class="text-center mt-3">Quem somos </h2>
				
			<p>
				Fundada em 2021, Nossa loja tem como foco vender produtos de ótima qualidade,
				presando por todo o fluxo: 
				<ul class="pl-3">
					<li>Escolha do produto,</li>
					<li>Formas de pagamento</li>
					<li>processo de logistica</li>
				</ul>
				
			</p></br> 
			
			<hr>
			
			<div class="row">
			
				<div class="col-4">
					Loja fisica SP <br>
					av norte-sul 1000
					13090-615 campinas sp
					brasil</br></br>
					
				
					+55 19 9999-99999

					seg-sex, das 9h às 18h
					sáb, das 9h às 13h
				</div>
				<div class="col-4">
				
					Loja fisica RJ<br>
					av ayrton senna 2150
					bloco m lojas 107-109
					22775-900 rio de janeiro rj
					brasil</br></br>
					
				
					+55 19 5555-5555

					seg-sex, das 9h às 18h
					sáb, das 9h às 13h
				
				</div>
				<div class="col-4">
					Loja fisica DF<br>
					av norte-sul 1000
					13090-615 campinas sp
					brasil</br></br>
					
					
					+55 19 3333-3333

					seg-sex, das 9h às 18h
					sáb, das 9h às 13h
				</div>
			
			</div><br></br> 
				
			<hr>
				
			<p>	Dados da TresDev informática:</br>
				Razão Social: TresDev LDTA </br>
				CNPJ: 00.000.000/0000-00 </br>
				Inscrição Estadual: 00000000 </br>
			</p>
			
		</div>
		
		<div id="colunaDireita"  class="col-6 text-white">
			<h2 class="text-center  ">Contato</h2>
			
			<p>Caso tenha qualquer dúvida por favor entre em contato com nossa equipe pelo formulário abaixo.</p>
			
			<form action="">
				<div class="form-group">
					<label> Nome</label>
					<input type="text" class="form-control" placeholder="Digite seu nome">
				</div>
				
				<div class="form-group">
					<label> Telefone</label>
					<input type="text" class="form-control" placeholder="Digite seu nome">
				</div>
				
				<div class="form-group">
					<label> E-mail</label>
					<input type="email" class="form-control" placeholder="Digite seu nome">
				</div>
				<div class="form-group">
					<label> Motivo do contato</label>
					<select class="form-control form-control-sm">
	  					<option>Qual o motivo do contato?</option>
	  					<option>Dúvida</option>
	  					<option>Reclamação</option>
					</select>
				</div>
				
				<div class="form-group">
				
				<div class="row">
					<label class="ml-3"> Mensagem</label>
				</div>
					<textarea class="rows="5" cols="62"" ></textarea>
				</div>
				
				<button type="submit" class="">ENVIAR</button>				
			</form>
			
			
			
		</div>

		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
	


	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">&copy; 2021 TresDev. Todos
				os direitos reservados.</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>





