<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Loja -=TresDev=-</title>

<!-- importação do bootstrap min.css -->
<link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- importação do css custom -->
<link href="../../css/shop-homepage.css" rel="stylesheet">

</head>


<body>

	<!-- Navigation -->
	<div th:fragment="navlinks">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
			style="height: 100px;">
			<div class="container">
				<a class="navbar-brand" href="/index">-=TresDev=-</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="#">Home
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/loja/carrinho">Carrinho</a>
						</li>

						<li class="nav-item"><a class="nav-link" href="#">Contato</a>
						</li>

						<div th:if="${session.usuarioLogado.nome == null}">
							<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
						</div>

						<div th:if="${session.usuarioLogado.nome != null}">
							<li class="nav-item"><a class="nav-link"
								href="/cliente/perfil">Perfil</a></li>
						</div>

						<div th:if="${session.usuarioLogado.nome != null}">
							<li class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>
						</div>



					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search"
							placeholder="Pesquisar" aria-label="Pesquisar">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
					</form>
				</div>
			</div>
		</nav>
	</div>
	<!-- Conteúdo -->



	<!-- Footer -->
	<div th:fragment="footer">
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">&copy; 2021 TresDev. Todos
					os direitos reservados.</p>
			</div>
			<!-- /.container -->
		</footer>

		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</div>
</body>

</html>
