<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{administrativo/fragments/layoutAdm}">
<head>
<title>LISTAR PEDIDOS</title>
<meta charset="utf-8">

</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div th:if="${session.usuarioLogado.cargo == 'Estoquista'}">
			<nav class="navbar navbar-expand-md bg-light">

				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><i class="oi oi-caret-right"></i>
							<span>Lista de Pedidos</span></li>
					</ul>
				</div>
			</nav>

			<div class="container">

				<p>
					<i class="oi oi-magnifying-glass"></i><span></span>
					<button class="btn btn-primary" type="button"
						data-toggle="collapse" data-target="#collapseNome"
						aria-controls="collapseNome">Nome</button>
				</p>
				<div class="row">
					<div class="col">
						<div class="collapse" id="collapseNome">

							<nav class="navbar navbar-light bg-light">
								<form class="form-inline" method="GET" action="#">
									<input class="form-control mr-sm-2" type="search"
										placeholder="nome" aria-label="Search" />
									<button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
								</form>
							</nav>

						</div>
					</div>
				</div>


				<div class="table-responsive">
					<table class="table table-striped table-hover table-sm">
						<thead>
							<tr>
								<th>Nº</th>
								<th>Forma De Pagamento</th>
								<th>Status</th>
								<th>Quantidade</th>
								<th>Valor</th>
								<th>Frete</th>
								<th>Data</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pedidos : ${listarPedidos}">
								<td th:text="${pedidos.id}"></td>
								<td th:text="${pedidos.formaPagamento}"></td>
								<td th:text="${pedidos.status}"></td>
								<td th:text="${pedidos.quantidade}"></td>
								<td th:text="${pedidos.valorTotal}"></td>
								<td th:text="${pedidos.frete}"></td>
								<td th:text="${pedidos.dataCompra}"></td>
								
										
										
										<td colspan="2"><div class="dropdown" >
												<button class="btn btn-secondary dropdown-toggle"
													type="button" id="dropdownMenuButton"
													data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false">STATUS</button>
												<div class="dropdown-menu"
													aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" th:href="@{/alterarStatus/{id}/{acao}(id=${pedidos.id},acao=${0})}">aguardando pagamento</a> <a
														class="dropdown-item" th:href="@{/alterarStatus/{id}/{acao}(id=${pedidos.id},acao=${1})}">pagamento rejeitado</a> <a
														class="dropdown-item" th:href="@{/alterarStatus/{id}/{acao}(id=${pedidos.id},acao=${2})}">pagamento com sucesso</a> <a
														class="dropdown-item" th:href="@{/alterarStatus/{id}/{acao}(id=${pedidos.id},acao=${3})}">aguardando retirada</a> <a
														class="dropdown-item" th:href="@{/alterarStatus/{id}/{acao}(id=${pedidos.id},acao=${4})}">em transito</a> <a
														class="dropdown-item"  th:href="@{/alterarStatus/{id}/{acao}(id=${pedidos.id},acao=${5})}">entregue</a>
												</div>
											</div>
											</a>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div th:if="${session.usuarioLogado.cargo == 'Administrador'}">
			<h1>Acesso não autorizado</h1>
		</div>
	</section>


</body>
</html>
