<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title></title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />


</head>
<body>
	<div th:replace="layout :: navlinks"></div>


	<div class="layout-main">


		<aside>
			<nav class="sidebar  sidebar-open">
				<br> <br>
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>

				<div th:if="${session.usuarioLogado.nome != null}">
					<ul class="nav nav-pills">
						<li class="nav-item"><span class="nav-link active">Dados</span></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/cliente/editar/cliente/{id}(id=${session.usuarioLogado.id})}">
								<i class="oi oi-spreadsheet"></i> <span>Editar</span>
						</a></li>

						<li class="nav-item"><a class="nav-link" href="#"> <i
								class="oi oi-spreadsheet"></i> <span>Historico</span>
						</a></li>


					</ul>

					<ul class="nav nav-pills">
						<li class="nav-item"><span class="nav-link active">Endereço</span></li>
						<li class="nav-item"><a class="nav-link"
							href="/cliente/endereco/cadastrar"> <i class="oi oi-plus"></i>
								<span>Cadastrar</span>
						</a></li>

						<li class="nav-item"><a class="nav-link"
							th:href="@{/cliente/listar/endereco/{id}(id=${session.usuarioLogado.id})}">
								<i class="oi oi-spreadsheet"></i> <span>Listar</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>

					</ul>
				</div>
				<div th:if="${session.usuarioLogado.nome == null}">
				<ul class="nav nav-pills">
						<li class="nav-item"><span class="nav-link active">Cadastro</span></li>
						<li class="nav-item"><a class="nav-link"
							href="#">
								<i class="oi oi-spreadsheet"></i> <span>Cadastrar</span>
						</a></li>

					</ul>
				</div>
			</nav>
		</aside>


		<section class="layout-content" layout:fragment="menulateral">
			Principal</section>

	</div>

	<footer class="">
		<div class="container">
			<span class="footer-copy">&copy; 2021 TresDev. Todos os
				direitos reservados.</span>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">

    $(function () {
        $('[data-toggle="popover"]').popover();
    });
    
	$(document).ready(function(){
	    $(".navbar-toggle").click(function(){
	        $(".sidebar").toggleClass("sidebar-open");
	    })
	});

</script>
</body>
</html>
